<div class="card">
  <div class="card-header p-b-0">
    <h5 class="card-title">
      <i class="fa fa-sign-in" aria-hidden="true"></i> Signup with Auth0
    </h5>
  </div>
  <div class="card-block">
    <div class="col-sm-6">
      <!-- Reactive form format-->
      <form novalidate [formGroup]="registerForm" (ngSubmit)="register($event)">
        <div class="form-group">
          <label for="email">อีเมล์</label>
          <input formControlName="email" type="email" id="email" name="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
          <div *ngIf="email.hasError('required') && email.dirty" class="form-control-feedback alert alert-danger">กรุณากรอกอีเมล์</div>
          <div *ngIf="email.hasError('invalidEmail') && !email.hasError('required')  && email.dirty" class="form-control-feedback alert alert-danger">รูปแบบอีเมล์ไม่ถูกต้อง</div>
          <div *ngIf="email.hasError('notAllowed') && email.dirty" class="form-control-feedback alert alert-danger">ห้ามใช้อีเมล์นี้</div>
        </div>

        <div class="form-group">
          <label for="password">รหัสผ่าน</label>
          <input formControlName="password" type="password" id="password" name="password" class="form-control" placeholder="Password">
          <div *ngIf="password.hasError('required') && password.dirty" class="form-control-feedback alert alert-danger">กรุณากรอกรหัสผ่าน </div>
          <div *ngIf="password.hasError('minlength') && password.dirty" class="form-control-feedback alert alert-danger">รหัสผ่านต้องมากกว่า 3 ตัวอักษร </div>
        </div>

        <button type="submit" [disabled]="!registerForm.valid" class="btn btn-primary">ตกลง</button>
        <img *ngIf="isLoading" src="./assets/images/loading.gif">
        <br>
        <br>
        <div *ngIf="isError" class="alert alert-danger">
          {{errorMessage?.description}}
        </div>
      </form>

    </div>
  </div>
</div>